{% extends 'base.html.twig' %}

{% block body %}
    <h1>Finanzbuchhaltung</h1>

    {{ form_start(form) }}
        {{ form_row(form.vorgangsart) }}
        <button type="submit">Filter</button>
    {{ form_end(form) }}

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nummer</th>
                <th>Vorgangsart</th>
                <th>Betreff</th>
                <th>Kunde</th>
                <th>Betrag</th>
            </tr>
        </thead>
        <tbody>
            {% for fin in finanz %}
                <tr>
                    <td>{{ fin.id }}</td>
                    <td>{{ fin.nummer }}</td>
                    <td>{{ fin.vorgangsart }}</td>
                    <td>{{ fin.betreff }}</td>
                    <td>{{ fin.kunde }}</td>
                    <td>{{ fin.betrag }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
